html {
  background-color: black;
  text-align: center;
}

.title {
  font font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.subtitle {
  font font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

.links {
  color: aquamarine;
  font-size: 16px;
}

.dscrpt {
  font-family: "Verdana";
  font-size: 21px;
  color: gray;
}

.copyr {
  text-align: right;
  color: gray;
}
